.App {
  background-color: grey;
}

.HeaderPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}

.TitlePage {
  padding-top: 5px;
}

.LogoPremier {
  width: 69px;
  height: 69px;
}

.List {
  background-color:lightsteelblue;
  float: left;
  width: 20%;
}

.TitleTeamsList {
  margin-top: 10px;
  margin-left: 10px;
}

.InfoTeam {
  background-color: darkslategray;
  width: 80%;
  height: 80%;
  margin-left: 274px;
}

.DivTeamLogo {
  width: 118px;
  height: 110px;
}

.TeamLogo {
  margin-top: 12px;
  margin-left: 12px;
  width: 100px;
  height: 100px;
}

.DivTitleTeam {
  position: relative;
  top: -144px;
  width: 332px;
  height: 110px;
  margin-left: 132px;
}

.TitleTeam {
  font-size: 34px;
  padding-top: 35px;
}

.DivDetailsTeam {
  border: 2px solid black;
  margin-top: -130px;
  width: 355px;
  height: 130px
}

.FeaturesTeamUl {
  margin-top: 2px;
  margin-left: 10px;
  margin-bottom: 14px;
  font-size: small;
  line-height: 1.4;
  list-style-type: none;
}

.FeaturesTeamLi {
  margin-left: -38px;
  margin-bottom: 3px;
}

.DivStadiumLogo {
  width: 359px;
  height: 253px;
}

.StadiumLogo {
  width: 358px;
  height: 244px;
}

.DivPlayersTeam {
  border: 2px solid black;
  margin-left: 34%;
  margin-top: -388px;
  width: 706px;
  height: 375px
}
.TitleDivPlayers {
  margin-top: -20px;
  margin-left: 22px;
  margin-bottom: -5px;
  padding-top: 5px;
  font-size: 20px;
}

.PlayersTeamUl {
  margin-top: 0px;
  margin-left: 10px;
  margin-bottom: -690px;
  font-size: small;
  line-height: 1.4;
  list-style-type: none;
}

.PlayersTeamLi {
  margin-left: -38px;
  margin-bottom: 3px;
}

.DivButtonsPag {
  border: 2px solid darkgray;
  height: 6%;
  width: 15%;
  margin-right: 10px;
  margin-left: 22px;
  margin-top: 712px;
}
