.App {
  background-color: grey;
  overflow: hidden;
}

/*.............................Primera parte...........................*/

.HeaderPage {
  height: 20%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #260b2e;
  box-shadow: 1px 1px 3px 0px black inset;
}

.TitlePage {
  padding-top: 5px;
  color: rgb(188, 159, 216);
  font-size: 29px;
}

.LogoPremier {
  width: 69px;
  height: 69px;
  box-shadow: -1px -1px 5px 1px black;
}

.List {
  width: 272px;
  height: 528px;
  background-color: #849595;
  box-shadow: 0px 1px 3px 0px black;
  float: left;
}

.TeamsUl {
  width: 204px;
  height: 447px;
}

.TeamsLi {
  font-size: 17px;
  line-height: 1.3;
  
}

.TitleTeamsList {
  width: 40%;
  margin-top: 10px;
  margin-left: 75px;
}

.InfoTeam {
  position: relative;
  background-color: #849595;
  width: 80%;
  height: 528px;
  margin-left: 274px;
  box-shadow: 1px 1px 3px 1px black;
}

.DivTeamLogo {
  width: 118px;
  height: 110px;
}

.TeamLogo {
  margin-top: 12px;
  margin-left: 12px;
  width: 100px;
  height: 100px;
}

.DivTitleTeam {
  position: relative;
  top: -144px;
  width: 332px;
  height: 110px;
  margin-left: 132px;
}

.TitleTeam {
  font-size: 34px;
  padding-top: 35px;
}

.DivDetailsTeam {
  box-shadow: -1px -1px 5px 1px black;
  margin-top: -130px;
  width: 355px;
  height: 130px
}

.FeaturesTeamUl {
  margin-top: 2px;
  margin-left: 10px;
  margin-bottom: 14px;
  font-size: small;
  line-height: 1.4;
  list-style-type: none;
}

.FeaturesTeamLi {
  margin-left: -38px;
  margin-bottom: 3px;
}

.DivStadiumLogo {
  width: 356px;
  height: 272px;
  box-shadow: -1px -1px 5px 1px black;
}

.StadiumLogo {
  width: 357px;
  height: 271px;
}
/*------- Jugadores ----------*/

.DivPlayersTeam {
  position: absolute;
  width: 21%;
  height: 75%;
  top: 124px;
  left: 367px;
  box-shadow: -1px -1px 5px 1px black;
}

.TitleDivPlayers {
  width: 50%;
  margin-top: -20px;
  margin-left: 58px;
  margin-bottom: 0px;
  padding-top: 5px;
  font-size: 20px;
}

.PlayersTeamUl {
  width: 90%;
  padding-top: 0px;
  padding-left: 15px;
  font-size: small;
  line-height: 1.4;
  list-style-type: none;
}

.PlayersTeamLi {
  margin-left: 1px;
  margin-bottom: 3px;
}

.DivButtonsPag {
  position: absolute;
  height: 6%;
  width: 10%;
  top: 470px;
  left: 428px;
}

.DivDetailsPlayer {
  position: absolute;
  width: 21%;
  height: 75%;
  top: 124px;
  left: 608px;
  box-shadow: -1px -1px 5px 1px black;
}

.FeaturesPlayerUl {
  width: 90%;
  margin-top: 13px;
  margin-left: -26px;
  margin-bottom: 52px;
  font-size: small;
  line-height: 1.4;
  list-style-type: none;
}

.DivDetailsPlayerTwo {
  position: absolute;
  width: 21%;
  height: 75%;
  top: 124px;
  left: 849px;
  box-shadow: -1px -1px 5px 1px black;
}

.FeaturesPlayerUlTwo {
  width: 92%;
  margin-top: 2px;
  margin-left: -26px;
  margin-bottom: 26px;
  font-size: small;
  line-height: 1.4;
  list-style-type: none;
}

.PlayersFeaturesLi {
  margin-left: 1px;
  margin-bottom: 2px;
}

/* ..........................Segunda parte......................... */

.PageMenu {
  position: absolute;
  width: 243px;
  height: 18px;
  margin-top: 49px;
  margin-left: 1018px;
}

a {
  margin-left: 1px;
  margin-right: 2px;
  background-color: #102638;
  color: rgb(131 129 129);
  padding: 5px;
  text-decoration: none;
}

a:hover {
  background-color: rgb(3, 28, 39);
}

.BodyPos {
 width: 100%;
 height: 878px;
 position: relative;
 background-color: #849595;
 box-shadow: 1px 1px 4px 1px black inset;
}

.DivTable {
  width: 80%;
  height:80%;
  position: absolute;
  margin-top: 1px;
  margin-left: 300px;
}

table {
  width: 70%;
  margin-top: 105px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 15px;
  border-collapse: collapse;
}
th { 
  font-size: 12px;
  font-weight: normal;
  text-align: center;  
  padding: 7px;     
  background: #090a0e;
  border-bottom: 1px solid #813b3b; 
  color: #0f2e6c;
}

td {  
  text-align: center;
  padding: 1px;    
  background: #0c0e18;   
  border-bottom: 1px solid #813b3b;
  color: #aeaec1; 
  border-top: 1px solid transparent;
}

thead th:nth-child(1) {
  width: 65%;
}

.ClubRank {
  float: left;
  width: 30px;
  height: 25px;
  padding-left: 8px;
  padding-top: 9px;
  font-size: small;
}

.ClubLogo {
  float: left;
  width: 42px;
  height: 25px;
  padding-top: 5px;
}

.TableTeamLogo {
  width: 25px;
  height: 25px;
}

.ClubName {
  float: left;
  width: 180px;
  height: 23px;
  padding-left: 2px;
  padding-top: 9px;
  font-size: 13px;
  text-align: left;
}

.DivTitlePos {
  width: 29%;
  height: 35px;
  position: absolute;
  margin-left: 303px;
  margin-top: 59px;
}

.TitlePositions {
  width: 88%;
  height: 20px;
  font-size: 18px;
}

.ClubAllPoints {
  width: 32px;
  height: 12px;
}
/* .............................Tercera parte........................... */

.ContainerMatches {
  width: 100%;
  height: 100%;
  margin-top: 0px;
  position: relative;
}

.DivTitleMatchesCom {
  width: 450px;
  height: 28px;
  position: absolute;
  margin-left: 334px;
  margin-top: 59px;
}

.TitleMatches {
  width: 450px;
  height: 20px;
  font-size: 18px;
}

.DivTableMatches {
  margin-top: 108px;
  margin-left: 333px;
  margin-right: 324px;
  position: inherit;
  float: left;
  border: 1px solid black;
}

.TableMatches {
  width: 346px;
  height: 94px;
  margin-top: 0px;
  float: left;
  border: 1px solid black; 
  border-collapse: collapse;
}

.TbodyMatches {
  width: 346px;
  height: 94px;
  border: 1px solid black; 
}

.TdMatches {
  width: 348px;
  height: 92px;
}

.DivMatches {
  width: 342px;
  height: 89px;
  margin-top: -45px;
  position: absolute;
  border: 1px solid black;
}

.DataMatch {
  width: 126px;
  height: 18px;
  margin-left: 104px;
  margin-top: 2px;
  position: absolute;
  font-size: 10px;
}

.TeamHome {
  width: 135px;
  height: 62px;
  margin-left: 2px;
  margin-top: 24px;
  position: absolute;
}

.DivHomeLogo {
  width: 37px;
  height: 37px;
  margin-left: 49px;
  padding-top: 5px;
}

.TeamHomeLogo {
  width: 37px;
  height: 37px;
}

.NameTeamHome {
  width: 116px;
  height: 26px;
  margin-top: -7px;
  margin-left: 8px;
  position: absolute;
  font-size: 10px;
}

.StatusMatch {
  width: 92px;
  height: 64px;
  margin-left: 120px;
  margin-top: 20px;
  position: absolute;
}

.TeamAway {
  width: 120px;
  height: 62px;
  margin-left: 209px;
  margin-top: 24px;
  position: absolute;
}

.DivAwayLogo {
  width: 37px;
  height: 37px;
  margin-left: 42px;
  padding-top: 5px;
}

.TeamAwayLogo {
  width: 37px;
  height: 37px;
}

.NameTeamAway {
  width: 120px;
  height: 26px;
  margin-top: -7px;
  margin-right: 7px;
  position: absolute;
  font-size: 10px;
}

.GamesButton {
  display: flex;
  background-color: #102638;
  color: ghostwhite;
  border: 2px solid black;
}

.DivButtonGames {
  height: 26px;
  width: 100px;
  top: 20px;
  left: 636px;
  position: inherit;
}

.StatusLong {
  width: 90px;
  height: 28px;
  margin-top: 11px;
  margin-left: 2px;
  position: absolute;
  font-size: 12px;
}

.DivRounds {
  width: 98px;
  height: 18px;
  margin-top: 15px;
  margin-left: 120px;
  position: absolute;
  font-size: 12px;
}

.StatusElapsed {
  width: 30px;
  height: 30px;
  margin-top: 35px;
  margin-left: 30px;
  position: absolute;
  font-size: 15px;
}

.TimeElapse {
  width: 30px;
  height: 30px;
  margin-top: 3px;
  margin-left: 30px;
  position: absolute;
  font-size: 6px;
}

.StatusGoalsHome {
  width: 10px;
  height: 10px;
  margin-top: 24px;
  margin-left: -8px;
  position: absolute;
  font-size: 13px;
}

.StatusGoalsAway {
  width: 10px;
  height: 10px;
  margin-top: 24px;
  margin-left: 91px;
  position: absolute;
  font-size: 13px;
}

